<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all">Template for HTML email with inline image</title>

    <link rel="stylesheet" href="../static/css/style.css"  />
</head>
<body>
<style>

    .mid-box {
    width: 350px;
    }
    .lil-box {
    width: 250px;
    }

    .mid-box table > tbody > tr > td, .lil-box table > tbody > tr > td {
    padding: 0px;
    border: 0px;
    }
    .invoice-preview {
    /*font-size: 12px !important;*/
    padding: 0px 25px;
    }

    .invoice-preview table td {
    font-size: 12px;
    }

    .invoice-preview .table > thead > tr > th {
    border-width: 1px;
    }

    .invoice-preview .invoice-title {
    /*color: aqua;*/
    }

    .origin-destination-marker {
    border-bottom: 1px solid #dedede;
    /*font-weight: bold;*/
    width: 100%;
    }
    .invoice-preview .invoice-items-container {
    margin-top: 30px;
    }
</style>
<div class="invoice-preview">

    <div class="clearfix">
        <div class="mid-box pull-left">
            <h1 th:if="${logo == null }">Name / Logo</h1>
            <div th:if="${logo != null}">
                <img width="150" height="150" th:src="${logo}"/>
            </div>
        </div>
        <div class="lil-box pull-right">
            <h2 class="invoice-title">Service Invoice</h2>
            <div class="">
                <label for="" class="origin-destination-marker"> From </label>
                <table class="table">
                    <tr><td> <b>Company Name</b> </td></tr>
                    <tr><td> company address</td></tr>
                    <tr><td> company-email@mail.com</td></tr>
                    <tr><td> +122 898 782 9098</td></tr>
                </table>
            </div>
        </div>
    </div>

    <div class="clearfix">
        <div class="mid-box pull-left">
            <label for="" class="origin-destination-marker">Summary</label>
            <table class="table">
                <tbody>
                <tr>
                    <td>Invoice No:</td>
                    <td> SNDLBZ1237888 </td>
                </tr>
                <tr>
                    <td>Date</td>
                    <td> {{ appForm.currentInvoice.invoiceDate }} -  {{ appForm.currentInvoice.dueDate }} </td>
                </tr>
                <tr>
                    <td><b> Amount Due </b></td>
                    <td>
                        <b>{{ appForm.currentInvoice.currency.symbol }} {{ appForm.currentInvoice.total }}</b>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="customer-details lil-box pull-right">
            <table class="table">
                <label for="" class="origin-destination-marker">To</label>
                <tbody>
                <tr><td> <b> {{ appForm.currentInvoice.client.name }}</b> </td></tr>
                <tr><td> {{ appForm.currentInvoice.client.address }}</td></tr>
                <tr><td> {{ appForm.currentInvoice.client.email }}</td></tr>
                <tr><td> {{ appForm.currentInvoice.client.phoneNumber }}</td></tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="invoice-items-container">
        <table class="table invoice-items table-striped">
            <thead>
            <tr>
                <th class="ax-grid-action-1"></th>
                <th>Item</th>
                <th class="tright">Quantity</th>
                <th class="tright">Unit cost</th>
                <th class="tright price">Price</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in appForm.currentInvoice.invoiceItems">
                <td> {{ $index + 1 }}. </td>
                <td> {{ item.description }} </td>
                <td class="tright"> {{ item.quantity }} </td>
                <td class="tright"> {{ item.unitCost }} </td>
                <td class="tright"> {{ appForm.computeLineTotal(item.quantity, item.unitCost) }} </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="summing-box">
        <div class="row">
            <div class="col-sm-3 pull-right">
                <div class="form-group">
                    <label class=""> Tax (%):</label>
                    <label class="pull-right"> {{ appForm.currentInvoice.tax }} </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 pull-right total-box">
                <label for=""> <b>Total: </b> </label>
                <label class="pull-right">
                    <b> {{ appForm.currentInvoice.currency.symbol }} {{ appForm.currentInvoice.total }} </b>
                </label>
            </div>
        </div>
    </div>
</div>
</body>
</html>