<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all">Template for HTML email with inline image</title>

    <link th:if="${toPdf}" rel="stylesheet" th:href="${style}"/>
    <script th:if="${toPdf}">
     window.passThrough = true;
    </script>
    <script th:if="${toPdf}" th:src="${bundleJs}"></script>
</head>
<body>
<div th:if="${toPdf}"></div>
<style>

    .mid-box {
        width: 250px;
    }
    .lil-box {
        width: 180px;
    }

    .mid-box table > tbody > tr > td, .lil-box table > tbody > tr > td {
        padding: 0px;
        border: 0px;
    }

    .invoice-preview {
        padding: 0px 25px;
        margin-bottom: 100px;
    }

    .invoice-preview table td {
        font-size: 12px;
    }

    .invoice-preview .table > thead > tr > th {
        border-width: 1px;
    }

    .invoice-preview .invoice-title {
        font-size: 25px;
    }

    .origin-destination-marker {
        border-bottom: 1px solid #dedede;
        /*font-weight: bold;*/
        width: 100%;
    }

    .invoice-preview .invoice-items-container {
        margin-top: 30px;
    }
</style>
<div class="invoice-preview">

    <div class="clearfix">
        <div class="mid-box pull-left">
            <h1 th:if="${logo == null }">Name / Logo</h1>
            <div th:if="${logo != null}">
                <img width="100" height="100" th:src="${logo}"/>
            </div>
        </div>
        <div class="lil-box pull-right">
            <h2 class="invoice-title">Service Invoice</h2>
            <div class="">
                <label class="origin-destination-marker"> From </label>
                <table class="table">
                    <tr>
                        <td><b>Company Name</b></td>
                    </tr>
                    <tr>
                        <td> company address</td>
                    </tr>
                    <tr>
                        <td> company-email@mail.com</td>
                    </tr>
                    <tr>
                        <td> +122 898 782 9098</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="clearfix">
        <div class="mid-box pull-left">
            <label  class="origin-destination-marker">Summary</label>
            <table class="table">
                <tbody>
                <tr>
                    <td>Invoice No:</td>
                    <td th:text="${invoice.invoiceNumber}"> </td>
                </tr>
                <tr>
                    <td>Date</td>
                    <td> <span th:text="${invoice.invoiceDate}"></span> to <span th:text="${invoice.dueDate}"></span> </td>
                </tr>
                <tr>
                    <td><b> Amount Due </b></td>
                    <td>
                        <b><span th:text="${invoice.currency.symbol}"></span><span th:text="${invoice.total}"> </span></b>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="customer-details lil-box pull-right">
            <table class="table">
                <label  class="origin-destination-marker">To</label>
                <tbody>
                <tr>
                    <td><b ><span th:text="${invoice.client.name}"> </span></b></td>
                </tr>
                <tr>
                    <td><span th:text="${invoice.client.address}"> </span></td>
                </tr>
                <tr>
                    <td> <span th:text="${invoice.client.email}"> </span></td>
                </tr>
                <tr>
                    <td><span th:text="${invoice.client.phoneNumber}"> </span></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="invoice-items-container">
        <table class="table invoice-items table-striped">
            <thead>
            <tr>
                <th class="ax-grid-action-1"></th>
                <th>Item</th>
                <th class="tright">Quantity</th>
                <th class="tright">Unit cost</th>
                <th class="tright price">Price</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item,meta : ${invoice.invoiceItems}">
                <td> <span th:text="${meta.count}"></span>. </td>
                <td> <span th:text="${item.description}"> </span>  </td>
                <td class="tright"> <span th:text="${item.quantity}"> </span></td>
                <td class="tright"> <span th:text="${item.unitCost}"> </span></td>
                <td class="tright"> <span th:with="result=${item.unitCost * item.quantity}" th:text="${result}"> </span></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="summing-box">
        <div class="row">
            <div class="col-sm-3 pull-right">
                <div class="form-group">
                    <label class=""> Tax (%):</label>
                    <label class="pull-right"><span th:text="${invoice.tax}"> </span></label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 pull-right total-box">
                <label> <b>Total: </b> </label>
                <label class="pull-right">
                    <b> <span th:text="${invoice.currency.symbol}"></span><span th:text="${invoice.total}"> </span>  </b>
                </label>
            </div>
        </div>
    </div>
</div>
<script th:if="${toPdf}">

        var cleanUp = function(){
            if(window.passThrough){
                ["ax-sidenav", "main"].forEach(function (x) {
                    console.log(x);
                    var k = document.getElementById(x);
                    k.remove();
                });
            }
        };
        //$(document).ready();
        setTimeout(cleanUp, 200);


</script>
</body>
</html>